python-dotenv
pytest
black
flake8
pre-commit
web3>=6.0.0
eth-account>=0.8.0
pydantic>=2.0.0
eth-abi
websockets>=10.0
pytest-asyncio
ccxt>=4.0.0
rich>=13.0.0
matplotlib>=3.7.0
pandas>=2.0.0
requests>=2.32.5
aiogram >= 3.0